.left-side{
  height: 100vh;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.right-side { 
  width: 100%;
  height: 100vh;
  position: relative;
}
.switch-button{
  display: none;
}

.date-picker-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
  padding-top: 2px;
}

.MuiTimelineItem-root{
  min-height: 50px !important;
}

#map {
  width: 100%;
  height: 100vh;
}

.marker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 1rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  color: #fff;
  background-color: #bdbdbd;
}

.marker.halt{
  width: 20px;
  height: 20px;
}
.marker.route{
  width: 9px;
  height: 9px;
}

.popper-container{
  padding: 4px;
}
.popper-value{
  font-weight: 300 !important;
}

.popper-data{
  display: flex;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.no-location{
  text-align: center;
  margin-top: 8px !important;
}


@media (max-width: 600px) {
  .date-picker-container{
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;

  }

  .switch-button{
    display: block;
  }
  
}
